services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_SSLMODE=${DB_SSLMODE}
      - APP_PORT=${APP_PORT}


  db:
    image: postgres:16
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: subscription
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: subscriptions
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: